
.site-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: #0366d6;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaecef;
}
.code {
    background-color: #f6f8fa;
    font-family: monospace;
    font-size: 14px;
}
