
* {
  margin: 0;
  padding: 0;
}
[class $= "text"] {
  padding: 0px 10px;
  text-align: justify ;
}
ul {
  list-style-type: none;
}
.site-container {
  color: #767c7b;
  background-color: #fcfdf9;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 1px;
  min-width: 320px;
}
h1, h2 {
  color: #2b2829;
}
h1 {
  font-size: 35px;
  letter-spacing: 17px;
  margin: 20px 0px;
}
h2 {
  margin: 20px 0;
  background-color: #c4e0ca;
  text-align: center;
  padding: 5px 0;
}
.container {
  max-width: 1024px;

  margin: 0 auto;
  display: flex;
}
.photo {
  width: 300px;
  border-radius: 300px; 
}
.about {
  background-color: #c4e0ca;
  padding: 10px 100px 30px 30px;
  height: 100%;
}
.section__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
  padding-left: 10px;
}
.section__right {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
.footer { 
  background-color: #767c7b;
  margin-top: 30px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.footer__nav {
  font-size: 18px;

}
.footer-nav {
  flex-direction: column;
  line-height: 33px;
  margin: 0;
  padding: 0;
}
.nav__item {
  list-style-type: none;
}
.nav__link {
  text-decoration: none;
  color: white;
}
.footer__rs-school {
  width: 100px;
  padding-top: 15px;
}
.footer__name {
  border-top: 1px solid #eaecef;
  display: flex;
  justify-content: center;
}
.footer__name a {
  text-decoration: none;
  color: white;
  padding: 10px 0;
}
.footer__contacts-list {
  list-style-type: none;
  margin-top: 5px;
  margin-bottom: 0;
  padding: 0;
}
.footer__contacts-list li {
  padding-bottom: 12px;
}
.footer__phone, 
.footer__e-mail {
  text-decoration: none;
  color: white;
}
.header {
  background-color: #c4e0ca;
  margin-bottom: 30px;
}
.nav__link-header {
  color: #2b2829;
  text-decoration: none;
  padding-right: 40px;
}
.nav__list-header {
  display: flex;
  padding: 7px 10px;
}
.skills__text {
  margin-left: 10px;
  list-style-type: disc;
}
.projects__link {
  text-decoration: none;
  color: #767c7b;
}
.code__title {
  margin-bottom: 0;
}
a[class ^= "nav__link"] {
  font-size: 17px;
}
.projects__desc {
  margin-bottom: 10px;
}

.burger-menu_button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 30;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu_button:hover .burger-menu_lines {
  filter: brightness(0.7);
}

.burger-menu_button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #767c7b;;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu_lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.burger-menu_lines::before {
  content: '';
  top: -12px;
}
.burger-menu_lines::after {
  content: '';
  top: 12px;
}


.burger-menu_active .burger-menu_lines {
  background-color: transparent;
}
.burger-menu_active .burger-menu_lines::before {
  top: 0;
  transform: rotate(45deg);
}
.burger-menu_active .burger-menu_lines::after{
  top: 0;
  transform: rotate(-45deg);
}

.burger-menu_nav {
  padding-top: 120px;
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: #c4e0ca;
  overflow-y: auto;
  right: -100%;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
.burger-menu_active .burger-menu_nav {
  right: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu_link {
  padding: 18px 35px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
  border-bottom: 1px solid #fff;
  color: black;
}
.burger-menu_link:first-child {
  border-top: 1px solid #fff;
}
.burger-menu_link:hover {
  filter: brightness(0.9);
}
.burger-menu_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.burger-menu_active .burger-menu_overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}
.burger-menu {
  display: none;
}


@media (max-width: 890px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 18px;
  }
  .site-container {
    font-size: 16px;
  }
}

@media (max-width: 690px) {
  .container {
    flex-direction: column;
  }
  .header__nav {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .section__left {
    margin-right: 0;
    padding-left: 0;
  }
  .about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 350px) {
  h1 {
    font-size: 20px;
    padding-left: 10px;
  }
  h2 {
    font-size: 22px;
  }
  .site-container {
    font-size: 18px;
  }
}